#navbar{
  position:fixed; top:0px; height: 10%; width:100%; background:blue; margin-bottom:100px; padding: 1em; overflow:hidden;
}

.info {
  height: 300px; width: 100%; background: pink; margin-top: 0px; padding: 1em;
}
  
