.topnav{
  position:fixed; top:0px; height: 10%; width:100%; background:green; margin-bottom:100px; padding: 1em; text-decoration: none; display: flex; text-align: center; justify-content: space-between;
}

#navbar {
  text-decoration: none;
}

.info {
  height: 300px; width: 100%; background: pink; margin-top: 0px; padding: 1em;
}

#body {
  padding-top: 10%;
}
